<h1>Edit Post</h1>

<%= render partial: "form", locals: {path: post_path,
                                     verb: "patch",
                                     post_title: @post.title,
                                     post_content: @post.content,
                                     button_text: "Update!"} %>